<main>
    <div class="container mt-3">
     <h3 class="text-center">Update</h3>
     <% Sach.forEach(entry => { %> 
     <form action="/editbook/<%=entry.Id%>" method="post" enctype="multipart/form-data">
        <input type="hidden" name="Id" value="<%=entry.Id%>">
         <label for="image">Image</label>
         <input type="file" name="Image" accept="image/*"> <br>
         <label for="name">Name</label>
         <input type="text" name="Name" value="<%=entry.Name%>" class="form-control">
         <label for="description">Description</label>
         <input type="text" name="Description" value="<%=entry.Description%>" class="form-control" >
         <label for="information">Information</label>
         <input type="text" name="Infomation" value="<%=entry.Infomation%>" class="form-control">
         
         <select name="category_Id">
          <option value="--Select--" disabled>Category</option>
          <option selected="1" value="1">Light novel</option>
          <option selected="2" value="2">văn học việt nam</option>
        </select>
        <% }) %>
        <input type="submit" value="Update" class="btn btn-primary mt-2"><br>
         <a href="/">Back?</a>
     </form>
    </div>
</main>