<main>
  <div class="jumbotron">
    <table class="table table-inverse">
        <thead>
          <h5 class="centre">Danh sách thư viện</h5>
          <tr>
            <th>Name</th>
            <th>Descrisption</th>
            <th>infomation</th>
            <th>Image</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% Sach.forEach(entry => { %>
              <td><%= entry.Name %></td>
              <td><%= entry.Description %></td>
              <td><%= entry.Infomation %></td>
              <td><%= entry.Image %></td>
              <td><%= entry.category_Name %></td>
              <td>
                <a href="/editbook/<%=entry.Id%>" class="btn btn-primary">Edit</a>
                <a href="/danhsach/deletebook/<%=entry.Id%>" class="btn btn-danger">Delete</a>
              </td>
          </tr>
        <% }) %>
        </tbody>
    </table>
  </div>
</main>