<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../views/head.ejs'); %>
</head>
<body class="container">

<header>
  <%- include('../views/header.ejs'); %>
</header>

<main>
  <div class="jumbotron">
    <table class="table table-inverse">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Descrisption</th>
            <th>infomation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% Sach.forEach(entry => { %>
              <td><%= entry.Id %></td>
              <td><%= entry.Name %></td>
              <td><%= entry.Description %></td>
              <td><%= entry.Infomation %></td>
          </tr>
        <% }) %>
        </tbody>
    </table>
  </div>
</main>

<footer>
  <%- include('../views/footer.ejs'); %>
</footer>

</body>
</html>